* {
    font-family: 'Poppins', sans-serif;
    color: #3A3A3A;
}

/* Menu Styles */

.menu-title {
    font-weight: 700;
    font-size: 28px;
    position: absolute;
    top: 87px;
    left: 120px;
    
}

.menu-info  {
    display: flex;
    margin-top: 95px;
    margin-left: 1200px;
    gap: 45px;
    font-weight: 400;
    font-size: 18px;
}

/* Banner Styles */

.banner-title {
    font-weight: 700;
    font-size: 52px;
    position: absolute;
    left: 120px;
    top: 285px;
}

.banner-info {
    position: absolute;
    left: 120px;
    top: 480px;
    font-weight: 600;
    font-size: 16px;
}

.svg {
    position: absolute;
    width: 525px;
    height: 525px;
    left: 1200px;
    top: 220px;
    opacity: 0.55;
}

.main-camera {
    position: absolute;
    width: 490px;
    height: 464px;
    left: 1220px;
    top: 240px;
}

.brands {
    display: flex;
    gap: 62px;
    position: absolute;
    left: 475px;
    top: 900px;
    padding: 36px 62px 25px 62px;
    border: 2px solid gray;
}